.server-parent {
    /* border: 1px solid yellow; */
    background-color: #36393e;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-div {
    /* border: 5px solid purple; */
    max-height: 92%;

}

.chat-message-div {
    /* border: 2px solid green; */
    max-height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.chat-message {
    /* border: 1px solid red; */
    color: #cccdce;
    margin: 10px 5px;
    /* margin-left: 3%; */
    /* overflow: auto; */
}

.chat-message:hover {
    background-color: #40444a;
}

.message-text {
    margin-left: 3%;
}

.message-header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.chat-name {
    padding: 0;
    margin-top: 5%;
}

.timestamp {
    /* border: 1px solid red; */
    font-size: 11px;
    margin-top: 5.5%;
    margin-left: 2%;
}

.chat-profile-pic {
    border: 1px solid white;
        background-color: lightgrey;
        /* z-index: 2; */
        border-radius: 50%;
        margin: 3% 3%;
        /* margin-top: -50px; */
        height: 45px;
        width: 45px;
}

.server-title {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 5px;
    justify-content: flex-start;
    /* background-color: #36393e; */
    width: 95%;
    z-index: 1;
    margin-left: 1%;
    top: 0;
    color: #cccdce;
}

.message-form {
    position: relative;
    bottom: 0;
}

.message-bar-div {
    width: 99%;
    max-width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    /* bottom: 0; */
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.message-bar {
    background-color: #40444a;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 5%;
    height: 35px;
    border: none;
    width: 90%;
    color: #cccdce;
}

.message-submit-btn {
    width: 0;
    height: 0;
    padding: 0;
    background-color: inherit;
    border: none;
    outline: none;
}

.msg-setting{
    /* border: 1px solid red; */
    background-color: #36393e;
    box-shadow: none;
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    /* margin-left: 75%; */
}

.msg-setting:hover {
    background-color: #40444a;
}

.message-modal {
    /* border: 1px solid red; */
    margin-left: 60%;
    margin-top: 0;
    /* display: flex;
    justify-items: flex-start;
    align-items: flex-start; */
}

.edit-form {
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 2rem;
    
}

.edit-text {
    font-size: 10px;
    color: #cccdce;
}