.userListContainer{
    flex-direction: column;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 240px;
    height: 100%;
    font-size: 16px;
    line-height: 16px;
    word-spacing: 0px;
    text-decoration: none solid rgb(0,0,0);
    background-color: #2f3136;
    letter-spacing: 0.24px;
}

.userOuterContainer{
    display: inline;
    flex-direction: column;
    align-content: space-between;
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
}

.userListTitle{
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: flex-end; */
    /* align-items: flex-end;/ */
    /* justify-content: flex-end; */
    color: #96989D;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;

}

.usersListing{
    color: #dcddde;
    /* background-color: inherit; */
    /* border: none; */
    padding: 0;
    width: fit-content;
    list-style: none;
    height: fit-content;


}
