#channel-bar{
  height: 100vh;
  min-width: 240px;
  background-color: rgb(47,49,54);
}
#user-bar{
  display: flex;
  justify-content: center;
  background-color: rgb(41,43,47) ;
  min-width: 240px;
  min-height: 52px;
  max-width: 240px;
  max-height: 52px;
  position: absolute;
  bottom: 0;
}

#server-settings-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
  min-height: 48px;
  max-width: 240px;
  max-height: 48px;
  background-color: inherit;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
#server-settings-button i{
  color: rgb(185,187,190);
}
.fa-x{
  scale: .8;
}

.direct-msg-title{
  cursor: unset !important;
}
