.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    min-height: 100%;
    background-image: url('https://i.imgur.com/gvWM8y7.png');
    background-size: cover;
    background-repeat: none;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    border-radius: 5px;
    color: #fdfefe;
    min-height: 525px;
    /* height: fit-content; */
    width: 416px;
    padding: 34px;
    background-color: #36393f;
    padding-left: 45px;
}

.signup-form button{
    margin-top: 25px !important;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    border-radius: 5px;
    color: #fdfefe;
    min-height: 354px;
    width: 410px;
    padding: 34px;
    background-color: #36393f;
    padding-left: 45px;
}

.login-welcome {
    display: flex;
    align-self: center;
    color: #fdfefe;
    font-size: 25px;
    margin: 0 0 8px 0;
}

.login-subheading {
    display: flex;
    align-self: center;
    color: #fdfefe;
    font-size: 16px;
    margin: 0
}

.login-text-div {
    margin-bottom: 20px;
}

.login-text {
    color: #B9BBBE;
    font-size: 12px;
    margin: 0 0 5px;
    font-weight: 700;
}

.login-input {
    margin-bottom: 5px;
    color: #e7f0fe;
    border-style: none;
    background-color: #202225;
    padding: 10px;
    width: 90%;
    height: 20px;
    border-radius: 4px;
    box-shadow: none;
}

.login-submit {
    background-color: #5765f2;
    color: #fdfefe;
    border-radius: 4px;
    border-style: none;
    width: 95%;
    height: 46px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;

}

.login-submit:hover {
    cursor: pointer;
}

.register {
    font-size: 13px;
    margin-top: 3px;
    color: #B9BBBE;
}

.signup-link:link {
    color: #0ca9ed;
    text-decoration: none;
    font-size: 14px;
}

.signup-link:visited {
    color: #0ca9ed;
}
.signup-link:hover {
    color: #0ca9ed;
    text-decoration:underline;
}
.signup-link:active {
    color: #0ca9ed;
}

.signup-form-body {
    display: flex;
    flex-direction: column;
    height: 325px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signup-form-body input {
    margin-top: 8px;
}
