
.user-preview-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 42px;
    width: 230px;
    text-align: center;
}
#user-preview-button{
    /* border: 3px solid black; */
    /* border-radius: 30px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    margin-left: 10px;
    border: none;
    background-color: inherit;
    color:rgba(220, 221, 222, .5);
    width: 100%;
    padding-left: 0;
    /* padding-right: 0; */
    text-align: center;
    /* text-decoration: none; */
    /* border-style: none; */
    /* width: 100%; */
    height: 100%;
}

#user-butt-text{
    margin-top: 10px;
    margin-left: 5px;
}

#member-list-icon{
    border-radius: 50%;
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    object-fit:cover;
}

#user-preview-button:hover {
    /* color: transparent; */
    background-color: rgba(220, 221, 222, .1);
    color:rgb(255, 255, 255);
    /* width: 100%; */
}
