.server-dropdown{
  background-color: rgb(24,25,28);
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  min-width: 220px;
  max-width: 220px;
  position: absolute;
  top: 55px;
  left: 80px;
  z-index: 5;
}

.update-form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* margin: auto; */
  margin: 10px 0px;

}
.update-form input{
  border: 1px transparent solid;
  border: 4px;
  margin: 3px 0;
  background-color: rgb(47,49,54);
  color: rgb(185,187,190)
}

.update-form button{
  border-radius: 4px;
  border: 2px solid rgba(54,57,63, .1);
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 20px;
  cursor: pointer;
  margin-top: 3px;
}

.update-form button:hover{
  border-radius: 7px;
  color: #DCDDDE;
  background-color: rgb(64, 78, 237);
}
.update-form-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: inherit;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(255,255,255, .08);
  color: rgb(185,187,190);
  cursor: pointer;
  font-size: 14px;
  font-weight:400;
  padding: 5px 0px;
  margin: 10px 5px;
}
.update-form-button p{
  padding: unset;
  margin: unset;
}

.delete-server{
  border-top: 2px solid rgba(255,255,255, .08);
  border-bottom: unset;
  margin-top: -1px;

}

.delete-server:hover{
  border-radius: 5px;

  background-color: rgb(64, 78, 237);
}

#exit-image{
  position: relative;
  top: 2px;
}
